<% provide :title, "Activate account" %>
<% provide :theme, "theme1" %>
<% provide :icon, "icons/login.ico" %>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
			  <%= image_tag "activate.png", alt: "IMG" %>
			</div>
			<%= form_with url: "#", class: "login100-form validate-form" do |form| %>
				<span class="login100-form-title">
					Change password and activate account
				</span>
				<div class="wrap-input100 validate-input"
					data-validate="Password is required">
					<%= form.password_field :password, class: :input100,
						placeholder: :Password %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
        <div class="wrap-input100 validate-input"
					data-validate="Password is required">
					<%= form.password_field :password_confirmation, class: :input100,
						placeholder: "Password confirmation" %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<div class="container-login100-form-btn">
					<%= form.submit "Activate", class: "login100-form-btn" %>
				</div>
				<div class="p-t-150">
				</div>
			<% end %>
		</div>
	</div>
</div>
