<% if @report.errors.any? %>
  <ul>
    <%= @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with url: trainee_reports_path, model: @report, local: true do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, class: "ckeditor" %>
  </div>
  <div class="mT-50">
    <%= f.button "Create", class: "btn cur-p btn-primary" %>
  </div>
<% end %>
