<div class="col-md-3">
  <div class="col-md-12 mB-30 p-20 report-infor" id="<%= report.id %>"
    data-status="<%= report.status %>">
    <div class="row center-flex image-report">
      <%= image_tag "report.png" %>
    </div>
    <div class="center-grid">
      <h6 class="row">
        <%= t ".title" %>:
        <%= link_to report.title, trainee_report_path(report.id) %>
      </h6>
      <h6 class="row">
        <%= t ".date" %>: <%= l report.date, format: :date %>
      </h6>
      <h6 class="row">
        <%= t ".approve" %>:
        <%= Report.human_enum_name(:status, :"#{report.status}") %>
      </h6>
    </div>
  </div>
</div>
