<% provide :title, t(".list_report") %>
<% provide :icon, "icons/admin.png" %>
<div class="masonry-item col-md-12 masonry-sizer">
  <div class="bd bgc-white">
    <div class="peers fxw-nw@lg+ ai-s">
      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
        <div class="layers">
          <div class="layer w-100 mB-10">
            <h3 class="c-grey-900 mB-20">
              <%= t ".list_report" %>
            </h3>
            <div class="row mT-30">
              <div class="col-md-12">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %> mT-30">
                    <%= message %>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-12 row mL-5">
                <%= render partial: "shared/report", collection: @reports %>
              </div>
              <%= paginate @reports, window: Settings.window_pagination %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
