<% provide :title, t(".list_report") %>
<% provide :icon, "icons/admin.png" %>
<div class="masonry-item col-md-12 masonry-sizer">
  <div class="bd bgc-white">
    <div class="peers fxw-nw@lg+ ai-s">
      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
        <div class="layers">
          <div class="layer w-100 mB-10">
            <h3 class="c-grey-900 mB-20">
              <%= t ".list_report" %>
            </h3>
            <div class="row bgc-grey-200">
              <%= form_with url: trainee_filter_reports_path, method: :get,
                class: "col-md-12" do |f| %>
                <div class="row p-10 col-md-12">
                  <div class="mr-30 col-md-1"></div>
                  <div class="mr-30 col-md-3">
                    <%= f.label t(".title") %>
                    <%= f.text_field :title,
                      class: "form-control col-md-12" %>
                  </div>
                  <div class="mr-30 col-md-2">
                    <%= f.label t(".approve") %>
                    <%= f.select :approve, @status, {},
                      class: "form-control col-md-12" %>
                  </div>
                  <div class="mr-30 col-md-2">
                    <%= f.label t(".from_to") %>
                    <%= f.date_field :from_date,
                      class: "form-control col-md-12" %>
                  </div>
                  <div class="mr-30 col-md-2">
                    <%= f.label t(".to_date") %>
                    <%= f.date_field :to_date,
                      class: "form-control col-md-12" %>
                  </div>
                  <div class="mr-30 col-md-1 mT-30">
                    <%= f.button t(".filter"),
                      class: "btn btn-primary col-md-12" %>
                  </div>
                </div >
              <% end %>
            </div>
            <div class="row mT-30">
              <div class="col-md-12">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %> mT-30">
                    <%= message %>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-12 row mL-5" id="trainee-reports">
                <%= render partial: "report", collection: @reports %>
              </div>
              <div class="row col-md-12" id="paginate-reports">
                <%= paginate @reports, window: Settings.window_pagination,
                remote: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
