<% provide :title, t(".view_report") %>
<% provide :icon, "icons/admin.png" %>
<div class="masonry-item col-md-12 masonry-sizer">
  <div class="bd bgc-white">
    <div class="peers fxw-nw@lg+ ai-s">
      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
        <div class="layers">
          <div class="layer w-100 mB-10">
            <h3 class="c-grey-900 mB-20">
              <%= t ".view_report" %>
            </h3>
            <div class="col-md-5 row mT-30 mB-50">
              <div class="col-md-12 row">
                <h6 class="c-red-500 mR-30">
                  <%= t ".title" %>:
                </h6>
                <%= @report.title %>
              </div>
              <div class="col-md-12 row">
                <h6 class="c-red-500 mR-30">
                  <%= t ".date" %>:
                </h6>
                <%= l @report.date, format: :date %>
              </div>
              <div class="col-md-12 row">
                <h6 class="c-red-500 mR-30">
                  <%= t ".approve" %>:
                </h6>
                <span class="c-red-500">
                  <%= @status %>
                </span>
              </div>
            </div>
            <div class="text-center mB-30">
              <h3><%= t ".view_content" %></h3>
            </div>
            <div class="ckeditor-custom col-md-8 offset-md-2">
              <%= raw @report.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
