<li class="nav-item mT-30 active">
  <%= link_to trainer_root_path, class: "sidebar-link" do %>
    <span class="icon-holder">
      <i class="c-blue-500 ti-home"></i>
    </span>
    <span class="title"><%= t ".home_page" %></span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to trainer_reports_path, class: "sidebar-link" do %>
    <span class="icon-holder">
      <i class="c-blue-500 fa fa-file-text"></i>
    </span>
    <span class="title"><%= t ".list_reports" %></span>
  <% end %>
</li>
<li class="nav-item dropdown">
  <%= link_to "#", class: "dropdown-toggle" do %>
    <span class="icon-holder">
      <i class="c-red-500 fa fa-users"></i>
    </span>
    <span class="title"><%= t ".list_accounts" %></span>
    <span class="arrow">
      <i class="ti-angle-right"></i>
    </span>
  <% end %>
  <ul class="dropdown-menu">
    <li>
      <%= link_to new_trainer_user_path, class: "sidebar-link" do %>
        <span class="icon-holder">
          <i class="c-pink-400 fa fa-user-plus"></i>
        </span>
        <span class="title"><%= t ".add_account" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to trainer_users_path, class: "sidebar-link" do %>
        <span class="icon-holder">
          <i class="c-pink-400 fa fa-users"></i>
        </span>
        <span class="title"><%= t ".show_list_accounts" %></span>
      <% end %>
    </li>
  </ul>
</li>
