<div class="popup" id="change-password">
  <div class="popup-inner password-inner">
    <div class="popup__photo">
      <%= image_tag "user-password.png" %>
    </div>
    <div class="popup__text custom-change-password">
      <h1><%= t ".change_password" %></h1>
      <%= form_with url: password_path(current_user.id), mothod: :PATCH,
        model: current_user, scope: :user do |f| %>
        <div class="mT-20 password-fail">
        </div>
        <div class="mT-20">
          <h6 class="c-red-500"><%= f.label t(".current_password") %></h6>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
        <div class="mT-20">
          <h6 class="c-red-500"><%= f.label t(".new_password") %></h6>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="mT-20">
          <h6 class="c-red-500"><%= f.label t(".password_confirmation") %></h6>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="mT-20">
          <%= f.button t(".update"), class: "btn btn-primary",
            data: { confirm: t(".confirm") } %>
        </div>
      <% end %>
    </div>
    <%= link_to "#", class: "popup__close" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
</div>
