<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <%= link_to "", class: "sidebar-link td-n" do %>
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <%= image_tag "ruby.png", size:Settings.ruby_size %>
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text"><%= t ".daily_report" %></h5>
              </div>
            </div>
          <% end %>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <%= link_to "#", class: "td-n" do %>
              <i class="ti-arrow-circle-left"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <ul class="sidebar-menu scrollable pos-r">
      <% if current_user.type == "Admin" %>
        <%= render "admin/sidebar/item" %>
      <% end %>
      <% if current_user.type == "Trainer" %>
        <%= render "trainer/sidebar/item" %>
      <% end %>
    </ul>
  </div>
</div>
