<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= favicon_link_tag yield :icon %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if logged_in? %>
      <%= stylesheet_link_tag "application", media: "all",
        "data-turbolinks-track": "reload" %>
      <%= javascript_include_tag "application",
        "data-turbolinks-track": "reload", defer: true %>
    <% else %>
      <%= stylesheet_link_tag "theme1", media: "all",
        "data-turbolinks-track": "reload" %>
      <%= javascript_include_tag "theme1",
        "data-turbolinks-track": "reload", defer: true %>
    <% end %>
    <%= javascript_include_tag "i18n" %>
    <script>
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale || I18n.default_locale %>"
    </script>
    <%= include_gon %>
    <%= render "layouts/shim" %>
  </head>

  <body class="app">
    <% if logged_in? %>
      <div id="loader">
        <div class="spinner"></div>
      </div>
      <div>
        <%= render "layouts/sidebar" %>
        <div class="page-container">
          <%= render "layouts/header" %>
          <%= render "layouts/current_profile" %>
          <%= render "layouts/change_password" %>
          <main class="main-content bgc-grey-100">
            <div id="mainContent">
              <div class="row gap-20 masonry pos-r main-body">
                <div class="masonry-sizer col-md-3"></div>
                <%= yield %>
              </div>
            </div>
          </main>
          <%= render "layouts/footer" %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
